{
  "name": "07 openbare",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "prestashop_styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"05_prestashop/assets/css/custom.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "html_styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"01_html/css/main.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "drupal8_styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"04_drupal8/css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "drupal7_styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"03_drupal7/layout.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "01_html/jade/index.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"01_html/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "01_html/jade/landing.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"01_html/landing.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "01_html/jade/gallery.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"01_html/gallery.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "01_html/jade/contact.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"01_html/contact.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "01_html/jade/article.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"01_html/article.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "02_wordpress/sass",
      "01_html/jade"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "common_styles.scss",
      "imports": [
        "bourbon/_bourbon.scss",
        "neat/_neat.scss",
        "bitters/_base.scss",
        "bourbon/bourbon/helpers/_buttons-list.scss",
        "bourbon/bourbon/helpers/_scales.scss",
        "bourbon/bourbon/helpers/_text-inputs-list.scss",
        "bourbon/bourbon/settings/_settings.scss",
        "bourbon/bourbon/validators/_contains.scss",
        "bourbon/bourbon/validators/_contains-falsy.scss",
        "bourbon/bourbon/validators/_is-color.scss",
        "bourbon/bourbon/validators/_is-length.scss",
        "bourbon/bourbon/validators/_is-number.scss",
        "bourbon/bourbon/validators/_is-size.scss",
        "bourbon/bourbon/utilities/_assign-inputs.scss",
        "bourbon/bourbon/utilities/_compact-shorthand.scss",
        "bourbon/bourbon/utilities/_directional-property.scss",
        "bourbon/bourbon/utilities/_fetch-bourbon-setting.scss",
        "bourbon/bourbon/utilities/_font-source-declaration.scss",
        "bourbon/bourbon/utilities/_gamma.scss",
        "bourbon/bourbon/utilities/_lightness.scss",
        "bourbon/bourbon/utilities/_contrast-ratio.scss",
        "bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "bourbon/bourbon/library/_border-color.scss",
        "bourbon/bourbon/library/_border-radius.scss",
        "bourbon/bourbon/library/_border-style.scss",
        "bourbon/bourbon/library/_border-width.scss",
        "bourbon/bourbon/library/_buttons.scss",
        "bourbon/bourbon/library/_clearfix.scss",
        "bourbon/bourbon/library/_contrast-switch.scss",
        "bourbon/bourbon/library/_ellipsis.scss",
        "bourbon/bourbon/library/_font-face.scss",
        "bourbon/bourbon/library/_font-stacks.scss",
        "bourbon/bourbon/library/_hide-text.scss",
        "bourbon/bourbon/library/_hide-visually.scss",
        "bourbon/bourbon/library/_margin.scss",
        "bourbon/bourbon/library/_modular-scale.scss",
        "bourbon/bourbon/library/_overflow-wrap.scss",
        "bourbon/bourbon/library/_padding.scss",
        "bourbon/bourbon/library/_position.scss",
        "bourbon/bourbon/library/_prefixer.scss",
        "bourbon/bourbon/library/_shade.scss",
        "bourbon/bourbon/library/_size.scss",
        "bourbon/bourbon/library/_strip-unit.scss",
        "bourbon/bourbon/library/_text-inputs.scss",
        "bourbon/bourbon/library/_timing-functions.scss",
        "bourbon/bourbon/library/_tint.scss",
        "bourbon/bourbon/library/_triangle.scss",
        "bourbon/bourbon/library/_value-prefixer.scss",
        "neat/neat/settings/_settings.scss",
        "neat/neat/functions/_retrieve-neat-settings.scss",
        "neat/neat/functions/_neat-column-default.scss",
        "neat/neat/functions/_neat-column-width.scss",
        "neat/neat/functions/_neat-column-ratio.scss",
        "neat/neat/functions/_neat-float-direction.scss",
        "neat/neat/functions/_neat-merge-defaults.scss",
        "neat/neat/functions/_neat-opposite-direction.scss",
        "neat/neat/functions/_neat-parse-columns.scss",
        "neat/neat/functions/_neat-parse-media.scss",
        "neat/neat/functions/_neat-append-grid-visual.scss",
        "neat/neat/mixins/_grid-collapse.scss",
        "neat/neat/mixins/_grid-column.scss",
        "neat/neat/mixins/_grid-container.scss",
        "neat/neat/mixins/_grid-media.scss",
        "neat/neat/mixins/_grid-push.scss",
        "neat/neat/mixins/_grid-shift.scss",
        "neat/neat/mixins/_grid-visual.scss",
        "bitters/_variables.scss",
        "bitters/_buttons.scss",
        "bitters/_forms.scss",
        "bitters/_layout.scss",
        "bitters/_lists.scss",
        "bitters/_media.scss",
        "bitters/_tables.scss",
        "bitters/_typography.scss"
      ]
    },
    {
      "path": "drupal7_styles.scss",
      "imports": [
        "common_styles.scss",
        "bourbon/_bourbon.scss",
        "neat/_neat.scss",
        "bitters/_base.scss",
        "bourbon/bourbon/helpers/_buttons-list.scss",
        "bourbon/bourbon/helpers/_scales.scss",
        "bourbon/bourbon/helpers/_text-inputs-list.scss",
        "bourbon/bourbon/settings/_settings.scss",
        "bourbon/bourbon/validators/_contains.scss",
        "bourbon/bourbon/validators/_contains-falsy.scss",
        "bourbon/bourbon/validators/_is-color.scss",
        "bourbon/bourbon/validators/_is-length.scss",
        "bourbon/bourbon/validators/_is-number.scss",
        "bourbon/bourbon/validators/_is-size.scss",
        "bourbon/bourbon/utilities/_assign-inputs.scss",
        "bourbon/bourbon/utilities/_compact-shorthand.scss",
        "bourbon/bourbon/utilities/_directional-property.scss",
        "bourbon/bourbon/utilities/_fetch-bourbon-setting.scss",
        "bourbon/bourbon/utilities/_font-source-declaration.scss",
        "bourbon/bourbon/utilities/_gamma.scss",
        "bourbon/bourbon/utilities/_lightness.scss",
        "bourbon/bourbon/utilities/_contrast-ratio.scss",
        "bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "bourbon/bourbon/library/_border-color.scss",
        "bourbon/bourbon/library/_border-radius.scss",
        "bourbon/bourbon/library/_border-style.scss",
        "bourbon/bourbon/library/_border-width.scss",
        "bourbon/bourbon/library/_buttons.scss",
        "bourbon/bourbon/library/_clearfix.scss",
        "bourbon/bourbon/library/_contrast-switch.scss",
        "bourbon/bourbon/library/_ellipsis.scss",
        "bourbon/bourbon/library/_font-face.scss",
        "bourbon/bourbon/library/_font-stacks.scss",
        "bourbon/bourbon/library/_hide-text.scss",
        "bourbon/bourbon/library/_hide-visually.scss",
        "bourbon/bourbon/library/_margin.scss",
        "bourbon/bourbon/library/_modular-scale.scss",
        "bourbon/bourbon/library/_overflow-wrap.scss",
        "bourbon/bourbon/library/_padding.scss",
        "bourbon/bourbon/library/_position.scss",
        "bourbon/bourbon/library/_prefixer.scss",
        "bourbon/bourbon/library/_shade.scss",
        "bourbon/bourbon/library/_size.scss",
        "bourbon/bourbon/library/_strip-unit.scss",
        "bourbon/bourbon/library/_text-inputs.scss",
        "bourbon/bourbon/library/_timing-functions.scss",
        "bourbon/bourbon/library/_tint.scss",
        "bourbon/bourbon/library/_triangle.scss",
        "bourbon/bourbon/library/_value-prefixer.scss",
        "neat/neat/settings/_settings.scss",
        "neat/neat/functions/_retrieve-neat-settings.scss",
        "neat/neat/functions/_neat-column-default.scss",
        "neat/neat/functions/_neat-column-width.scss",
        "neat/neat/functions/_neat-column-ratio.scss",
        "neat/neat/functions/_neat-float-direction.scss",
        "neat/neat/functions/_neat-merge-defaults.scss",
        "neat/neat/functions/_neat-opposite-direction.scss",
        "neat/neat/functions/_neat-parse-columns.scss",
        "neat/neat/functions/_neat-parse-media.scss",
        "neat/neat/functions/_neat-append-grid-visual.scss",
        "neat/neat/mixins/_grid-collapse.scss",
        "neat/neat/mixins/_grid-column.scss",
        "neat/neat/mixins/_grid-container.scss",
        "neat/neat/mixins/_grid-media.scss",
        "neat/neat/mixins/_grid-push.scss",
        "neat/neat/mixins/_grid-shift.scss",
        "neat/neat/mixins/_grid-visual.scss",
        "bitters/_variables.scss",
        "bitters/_buttons.scss",
        "bitters/_forms.scss",
        "bitters/_layout.scss",
        "bitters/_lists.scss",
        "bitters/_media.scss",
        "bitters/_tables.scss",
        "bitters/_typography.scss"
      ]
    },
    {
      "path": "drupal8_styles.scss",
      "imports": [
        "common_styles.scss",
        "bourbon/_bourbon.scss",
        "neat/_neat.scss",
        "bitters/_base.scss",
        "bourbon/bourbon/helpers/_buttons-list.scss",
        "bourbon/bourbon/helpers/_scales.scss",
        "bourbon/bourbon/helpers/_text-inputs-list.scss",
        "bourbon/bourbon/settings/_settings.scss",
        "bourbon/bourbon/validators/_contains.scss",
        "bourbon/bourbon/validators/_contains-falsy.scss",
        "bourbon/bourbon/validators/_is-color.scss",
        "bourbon/bourbon/validators/_is-length.scss",
        "bourbon/bourbon/validators/_is-number.scss",
        "bourbon/bourbon/validators/_is-size.scss",
        "bourbon/bourbon/utilities/_assign-inputs.scss",
        "bourbon/bourbon/utilities/_compact-shorthand.scss",
        "bourbon/bourbon/utilities/_directional-property.scss",
        "bourbon/bourbon/utilities/_fetch-bourbon-setting.scss",
        "bourbon/bourbon/utilities/_font-source-declaration.scss",
        "bourbon/bourbon/utilities/_gamma.scss",
        "bourbon/bourbon/utilities/_lightness.scss",
        "bourbon/bourbon/utilities/_contrast-ratio.scss",
        "bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "bourbon/bourbon/library/_border-color.scss",
        "bourbon/bourbon/library/_border-radius.scss",
        "bourbon/bourbon/library/_border-style.scss",
        "bourbon/bourbon/library/_border-width.scss",
        "bourbon/bourbon/library/_buttons.scss",
        "bourbon/bourbon/library/_clearfix.scss",
        "bourbon/bourbon/library/_contrast-switch.scss",
        "bourbon/bourbon/library/_ellipsis.scss",
        "bourbon/bourbon/library/_font-face.scss",
        "bourbon/bourbon/library/_font-stacks.scss",
        "bourbon/bourbon/library/_hide-text.scss",
        "bourbon/bourbon/library/_hide-visually.scss",
        "bourbon/bourbon/library/_margin.scss",
        "bourbon/bourbon/library/_modular-scale.scss",
        "bourbon/bourbon/library/_overflow-wrap.scss",
        "bourbon/bourbon/library/_padding.scss",
        "bourbon/bourbon/library/_position.scss",
        "bourbon/bourbon/library/_prefixer.scss",
        "bourbon/bourbon/library/_shade.scss",
        "bourbon/bourbon/library/_size.scss",
        "bourbon/bourbon/library/_strip-unit.scss",
        "bourbon/bourbon/library/_text-inputs.scss",
        "bourbon/bourbon/library/_timing-functions.scss",
        "bourbon/bourbon/library/_tint.scss",
        "bourbon/bourbon/library/_triangle.scss",
        "bourbon/bourbon/library/_value-prefixer.scss",
        "neat/neat/settings/_settings.scss",
        "neat/neat/functions/_retrieve-neat-settings.scss",
        "neat/neat/functions/_neat-column-default.scss",
        "neat/neat/functions/_neat-column-width.scss",
        "neat/neat/functions/_neat-column-ratio.scss",
        "neat/neat/functions/_neat-float-direction.scss",
        "neat/neat/functions/_neat-merge-defaults.scss",
        "neat/neat/functions/_neat-opposite-direction.scss",
        "neat/neat/functions/_neat-parse-columns.scss",
        "neat/neat/functions/_neat-parse-media.scss",
        "neat/neat/functions/_neat-append-grid-visual.scss",
        "neat/neat/mixins/_grid-collapse.scss",
        "neat/neat/mixins/_grid-column.scss",
        "neat/neat/mixins/_grid-container.scss",
        "neat/neat/mixins/_grid-media.scss",
        "neat/neat/mixins/_grid-push.scss",
        "neat/neat/mixins/_grid-shift.scss",
        "neat/neat/mixins/_grid-visual.scss",
        "bitters/_variables.scss",
        "bitters/_buttons.scss",
        "bitters/_forms.scss",
        "bitters/_layout.scss",
        "bitters/_lists.scss",
        "bitters/_media.scss",
        "bitters/_tables.scss",
        "bitters/_typography.scss"
      ]
    },
    {
      "path": "html_styles.scss",
      "imports": [
        "common_styles.scss",
        "bourbon/_bourbon.scss",
        "neat/_neat.scss",
        "bitters/_base.scss",
        "bourbon/bourbon/helpers/_buttons-list.scss",
        "bourbon/bourbon/helpers/_scales.scss",
        "bourbon/bourbon/helpers/_text-inputs-list.scss",
        "bourbon/bourbon/settings/_settings.scss",
        "bourbon/bourbon/validators/_contains.scss",
        "bourbon/bourbon/validators/_contains-falsy.scss",
        "bourbon/bourbon/validators/_is-color.scss",
        "bourbon/bourbon/validators/_is-length.scss",
        "bourbon/bourbon/validators/_is-number.scss",
        "bourbon/bourbon/validators/_is-size.scss",
        "bourbon/bourbon/utilities/_assign-inputs.scss",
        "bourbon/bourbon/utilities/_compact-shorthand.scss",
        "bourbon/bourbon/utilities/_directional-property.scss",
        "bourbon/bourbon/utilities/_fetch-bourbon-setting.scss",
        "bourbon/bourbon/utilities/_font-source-declaration.scss",
        "bourbon/bourbon/utilities/_gamma.scss",
        "bourbon/bourbon/utilities/_lightness.scss",
        "bourbon/bourbon/utilities/_contrast-ratio.scss",
        "bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "bourbon/bourbon/library/_border-color.scss",
        "bourbon/bourbon/library/_border-radius.scss",
        "bourbon/bourbon/library/_border-style.scss",
        "bourbon/bourbon/library/_border-width.scss",
        "bourbon/bourbon/library/_buttons.scss",
        "bourbon/bourbon/library/_clearfix.scss",
        "bourbon/bourbon/library/_contrast-switch.scss",
        "bourbon/bourbon/library/_ellipsis.scss",
        "bourbon/bourbon/library/_font-face.scss",
        "bourbon/bourbon/library/_font-stacks.scss",
        "bourbon/bourbon/library/_hide-text.scss",
        "bourbon/bourbon/library/_hide-visually.scss",
        "bourbon/bourbon/library/_margin.scss",
        "bourbon/bourbon/library/_modular-scale.scss",
        "bourbon/bourbon/library/_overflow-wrap.scss",
        "bourbon/bourbon/library/_padding.scss",
        "bourbon/bourbon/library/_position.scss",
        "bourbon/bourbon/library/_prefixer.scss",
        "bourbon/bourbon/library/_shade.scss",
        "bourbon/bourbon/library/_size.scss",
        "bourbon/bourbon/library/_strip-unit.scss",
        "bourbon/bourbon/library/_text-inputs.scss",
        "bourbon/bourbon/library/_timing-functions.scss",
        "bourbon/bourbon/library/_tint.scss",
        "bourbon/bourbon/library/_triangle.scss",
        "bourbon/bourbon/library/_value-prefixer.scss",
        "neat/neat/settings/_settings.scss",
        "neat/neat/functions/_retrieve-neat-settings.scss",
        "neat/neat/functions/_neat-column-default.scss",
        "neat/neat/functions/_neat-column-width.scss",
        "neat/neat/functions/_neat-column-ratio.scss",
        "neat/neat/functions/_neat-float-direction.scss",
        "neat/neat/functions/_neat-merge-defaults.scss",
        "neat/neat/functions/_neat-opposite-direction.scss",
        "neat/neat/functions/_neat-parse-columns.scss",
        "neat/neat/functions/_neat-parse-media.scss",
        "neat/neat/functions/_neat-append-grid-visual.scss",
        "neat/neat/mixins/_grid-collapse.scss",
        "neat/neat/mixins/_grid-column.scss",
        "neat/neat/mixins/_grid-container.scss",
        "neat/neat/mixins/_grid-media.scss",
        "neat/neat/mixins/_grid-push.scss",
        "neat/neat/mixins/_grid-shift.scss",
        "neat/neat/mixins/_grid-visual.scss",
        "bitters/_variables.scss",
        "bitters/_buttons.scss",
        "bitters/_forms.scss",
        "bitters/_layout.scss",
        "bitters/_lists.scss",
        "bitters/_media.scss",
        "bitters/_tables.scss",
        "bitters/_typography.scss"
      ]
    },
    {
      "path": "prestashop_styles.scss",
      "imports": [
        "common_styles.scss",
        "bourbon/_bourbon.scss",
        "neat/_neat.scss",
        "bitters/_base.scss",
        "bourbon/bourbon/helpers/_buttons-list.scss",
        "bourbon/bourbon/helpers/_scales.scss",
        "bourbon/bourbon/helpers/_text-inputs-list.scss",
        "bourbon/bourbon/settings/_settings.scss",
        "bourbon/bourbon/validators/_contains.scss",
        "bourbon/bourbon/validators/_contains-falsy.scss",
        "bourbon/bourbon/validators/_is-color.scss",
        "bourbon/bourbon/validators/_is-length.scss",
        "bourbon/bourbon/validators/_is-number.scss",
        "bourbon/bourbon/validators/_is-size.scss",
        "bourbon/bourbon/utilities/_assign-inputs.scss",
        "bourbon/bourbon/utilities/_compact-shorthand.scss",
        "bourbon/bourbon/utilities/_directional-property.scss",
        "bourbon/bourbon/utilities/_fetch-bourbon-setting.scss",
        "bourbon/bourbon/utilities/_font-source-declaration.scss",
        "bourbon/bourbon/utilities/_gamma.scss",
        "bourbon/bourbon/utilities/_lightness.scss",
        "bourbon/bourbon/utilities/_contrast-ratio.scss",
        "bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "bourbon/bourbon/library/_border-color.scss",
        "bourbon/bourbon/library/_border-radius.scss",
        "bourbon/bourbon/library/_border-style.scss",
        "bourbon/bourbon/library/_border-width.scss",
        "bourbon/bourbon/library/_buttons.scss",
        "bourbon/bourbon/library/_clearfix.scss",
        "bourbon/bourbon/library/_contrast-switch.scss",
        "bourbon/bourbon/library/_ellipsis.scss",
        "bourbon/bourbon/library/_font-face.scss",
        "bourbon/bourbon/library/_font-stacks.scss",
        "bourbon/bourbon/library/_hide-text.scss",
        "bourbon/bourbon/library/_hide-visually.scss",
        "bourbon/bourbon/library/_margin.scss",
        "bourbon/bourbon/library/_modular-scale.scss",
        "bourbon/bourbon/library/_overflow-wrap.scss",
        "bourbon/bourbon/library/_padding.scss",
        "bourbon/bourbon/library/_position.scss",
        "bourbon/bourbon/library/_prefixer.scss",
        "bourbon/bourbon/library/_shade.scss",
        "bourbon/bourbon/library/_size.scss",
        "bourbon/bourbon/library/_strip-unit.scss",
        "bourbon/bourbon/library/_text-inputs.scss",
        "bourbon/bourbon/library/_timing-functions.scss",
        "bourbon/bourbon/library/_tint.scss",
        "bourbon/bourbon/library/_triangle.scss",
        "bourbon/bourbon/library/_value-prefixer.scss",
        "neat/neat/settings/_settings.scss",
        "neat/neat/functions/_retrieve-neat-settings.scss",
        "neat/neat/functions/_neat-column-default.scss",
        "neat/neat/functions/_neat-column-width.scss",
        "neat/neat/functions/_neat-column-ratio.scss",
        "neat/neat/functions/_neat-float-direction.scss",
        "neat/neat/functions/_neat-merge-defaults.scss",
        "neat/neat/functions/_neat-opposite-direction.scss",
        "neat/neat/functions/_neat-parse-columns.scss",
        "neat/neat/functions/_neat-parse-media.scss",
        "neat/neat/functions/_neat-append-grid-visual.scss",
        "neat/neat/mixins/_grid-collapse.scss",
        "neat/neat/mixins/_grid-column.scss",
        "neat/neat/mixins/_grid-container.scss",
        "neat/neat/mixins/_grid-media.scss",
        "neat/neat/mixins/_grid-push.scss",
        "neat/neat/mixins/_grid-shift.scss",
        "neat/neat/mixins/_grid-visual.scss",
        "bitters/_variables.scss",
        "bitters/_buttons.scss",
        "bitters/_forms.scss",
        "bitters/_layout.scss",
        "bitters/_lists.scss",
        "bitters/_media.scss",
        "bitters/_tables.scss",
        "bitters/_typography.scss"
      ]
    },
    {
      "path": "wordpress_styles.scss",
      "imports": [
        "common_styles.scss",
        "bourbon/_bourbon.scss",
        "neat/_neat.scss",
        "bitters/_base.scss",
        "bourbon/bourbon/helpers/_buttons-list.scss",
        "bourbon/bourbon/helpers/_scales.scss",
        "bourbon/bourbon/helpers/_text-inputs-list.scss",
        "bourbon/bourbon/settings/_settings.scss",
        "bourbon/bourbon/validators/_contains.scss",
        "bourbon/bourbon/validators/_contains-falsy.scss",
        "bourbon/bourbon/validators/_is-color.scss",
        "bourbon/bourbon/validators/_is-length.scss",
        "bourbon/bourbon/validators/_is-number.scss",
        "bourbon/bourbon/validators/_is-size.scss",
        "bourbon/bourbon/utilities/_assign-inputs.scss",
        "bourbon/bourbon/utilities/_compact-shorthand.scss",
        "bourbon/bourbon/utilities/_directional-property.scss",
        "bourbon/bourbon/utilities/_fetch-bourbon-setting.scss",
        "bourbon/bourbon/utilities/_font-source-declaration.scss",
        "bourbon/bourbon/utilities/_gamma.scss",
        "bourbon/bourbon/utilities/_lightness.scss",
        "bourbon/bourbon/utilities/_contrast-ratio.scss",
        "bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "bourbon/bourbon/library/_border-color.scss",
        "bourbon/bourbon/library/_border-radius.scss",
        "bourbon/bourbon/library/_border-style.scss",
        "bourbon/bourbon/library/_border-width.scss",
        "bourbon/bourbon/library/_buttons.scss",
        "bourbon/bourbon/library/_clearfix.scss",
        "bourbon/bourbon/library/_contrast-switch.scss",
        "bourbon/bourbon/library/_ellipsis.scss",
        "bourbon/bourbon/library/_font-face.scss",
        "bourbon/bourbon/library/_font-stacks.scss",
        "bourbon/bourbon/library/_hide-text.scss",
        "bourbon/bourbon/library/_hide-visually.scss",
        "bourbon/bourbon/library/_margin.scss",
        "bourbon/bourbon/library/_modular-scale.scss",
        "bourbon/bourbon/library/_overflow-wrap.scss",
        "bourbon/bourbon/library/_padding.scss",
        "bourbon/bourbon/library/_position.scss",
        "bourbon/bourbon/library/_prefixer.scss",
        "bourbon/bourbon/library/_shade.scss",
        "bourbon/bourbon/library/_size.scss",
        "bourbon/bourbon/library/_strip-unit.scss",
        "bourbon/bourbon/library/_text-inputs.scss",
        "bourbon/bourbon/library/_timing-functions.scss",
        "bourbon/bourbon/library/_tint.scss",
        "bourbon/bourbon/library/_triangle.scss",
        "bourbon/bourbon/library/_value-prefixer.scss",
        "neat/neat/settings/_settings.scss",
        "neat/neat/functions/_retrieve-neat-settings.scss",
        "neat/neat/functions/_neat-column-default.scss",
        "neat/neat/functions/_neat-column-width.scss",
        "neat/neat/functions/_neat-column-ratio.scss",
        "neat/neat/functions/_neat-float-direction.scss",
        "neat/neat/functions/_neat-merge-defaults.scss",
        "neat/neat/functions/_neat-opposite-direction.scss",
        "neat/neat/functions/_neat-parse-columns.scss",
        "neat/neat/functions/_neat-parse-media.scss",
        "neat/neat/functions/_neat-append-grid-visual.scss",
        "neat/neat/mixins/_grid-collapse.scss",
        "neat/neat/mixins/_grid-column.scss",
        "neat/neat/mixins/_grid-container.scss",
        "neat/neat/mixins/_grid-media.scss",
        "neat/neat/mixins/_grid-push.scss",
        "neat/neat/mixins/_grid-shift.scss",
        "neat/neat/mixins/_grid-visual.scss",
        "bitters/_variables.scss",
        "bitters/_buttons.scss",
        "bitters/_forms.scss",
        "bitters/_layout.scss",
        "bitters/_lists.scss",
        "bitters/_media.scss",
        "bitters/_tables.scss",
        "bitters/_typography.scss"
      ]
    },
    {
      "path": "bitters/_base.scss",
      "imports": [
        "bitters/_variables.scss",
        "bitters/_buttons.scss",
        "bitters/_forms.scss",
        "bitters/_layout.scss",
        "bitters/_lists.scss",
        "bitters/_media.scss",
        "bitters/_tables.scss",
        "bitters/_typography.scss"
      ]
    },
    {
      "path": "bourbon/_bourbon.scss",
      "imports": [
        "bourbon/bourbon/helpers/_buttons-list.scss",
        "bourbon/bourbon/helpers/_scales.scss",
        "bourbon/bourbon/helpers/_text-inputs-list.scss",
        "bourbon/bourbon/settings/_settings.scss",
        "bourbon/bourbon/validators/_contains.scss",
        "bourbon/bourbon/validators/_contains-falsy.scss",
        "bourbon/bourbon/validators/_is-color.scss",
        "bourbon/bourbon/validators/_is-length.scss",
        "bourbon/bourbon/validators/_is-number.scss",
        "bourbon/bourbon/validators/_is-size.scss",
        "bourbon/bourbon/utilities/_assign-inputs.scss",
        "bourbon/bourbon/utilities/_compact-shorthand.scss",
        "bourbon/bourbon/utilities/_directional-property.scss",
        "bourbon/bourbon/utilities/_fetch-bourbon-setting.scss",
        "bourbon/bourbon/utilities/_font-source-declaration.scss",
        "bourbon/bourbon/utilities/_gamma.scss",
        "bourbon/bourbon/utilities/_lightness.scss",
        "bourbon/bourbon/utilities/_contrast-ratio.scss",
        "bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "bourbon/bourbon/library/_border-color.scss",
        "bourbon/bourbon/library/_border-radius.scss",
        "bourbon/bourbon/library/_border-style.scss",
        "bourbon/bourbon/library/_border-width.scss",
        "bourbon/bourbon/library/_buttons.scss",
        "bourbon/bourbon/library/_clearfix.scss",
        "bourbon/bourbon/library/_contrast-switch.scss",
        "bourbon/bourbon/library/_ellipsis.scss",
        "bourbon/bourbon/library/_font-face.scss",
        "bourbon/bourbon/library/_font-stacks.scss",
        "bourbon/bourbon/library/_hide-text.scss",
        "bourbon/bourbon/library/_hide-visually.scss",
        "bourbon/bourbon/library/_margin.scss",
        "bourbon/bourbon/library/_modular-scale.scss",
        "bourbon/bourbon/library/_overflow-wrap.scss",
        "bourbon/bourbon/library/_padding.scss",
        "bourbon/bourbon/library/_position.scss",
        "bourbon/bourbon/library/_prefixer.scss",
        "bourbon/bourbon/library/_shade.scss",
        "bourbon/bourbon/library/_size.scss",
        "bourbon/bourbon/library/_strip-unit.scss",
        "bourbon/bourbon/library/_text-inputs.scss",
        "bourbon/bourbon/library/_timing-functions.scss",
        "bourbon/bourbon/library/_tint.scss",
        "bourbon/bourbon/library/_triangle.scss",
        "bourbon/bourbon/library/_value-prefixer.scss"
      ]
    },
    {
      "path": "neat/_neat.scss",
      "imports": [
        "neat/neat/settings/_settings.scss",
        "neat/neat/functions/_retrieve-neat-settings.scss",
        "neat/neat/functions/_neat-column-default.scss",
        "neat/neat/functions/_neat-column-width.scss",
        "neat/neat/functions/_neat-column-ratio.scss",
        "neat/neat/functions/_neat-float-direction.scss",
        "neat/neat/functions/_neat-merge-defaults.scss",
        "neat/neat/functions/_neat-opposite-direction.scss",
        "neat/neat/functions/_neat-parse-columns.scss",
        "neat/neat/functions/_neat-parse-media.scss",
        "neat/neat/functions/_neat-append-grid-visual.scss",
        "neat/neat/mixins/_grid-collapse.scss",
        "neat/neat/mixins/_grid-column.scss",
        "neat/neat/mixins/_grid-container.scss",
        "neat/neat/mixins/_grid-media.scss",
        "neat/neat/mixins/_grid-push.scss",
        "neat/neat/mixins/_grid-shift.scss",
        "neat/neat/mixins/_grid-visual.scss"
      ]
    },
    {
      "path": "01_html/jade/article.jade",
      "imports": [
        "01_html/jade/_header.jade",
        "01_html/jade/_footer.jade"
      ]
    },
    {
      "path": "01_html/jade/contact.jade",
      "imports": [
        "01_html/jade/_header.jade",
        "01_html/jade/_footer.jade"
      ]
    },
    {
      "path": "01_html/jade/gallery.jade",
      "imports": [
        "01_html/jade/_header.jade",
        "01_html/jade/_footer.jade"
      ]
    },
    {
      "path": "01_html/jade/index.jade",
      "imports": [
        "01_html/jade/_header.jade",
        "01_html/jade/_footer.jade"
      ]
    },
    {
      "path": "01_html/jade/landing.jade",
      "imports": [
        "01_html/jade/_header.jade",
        "01_html/jade/_footer.jade"
      ]
    },
    {
      "path": "02_wordpress/sass/style.scss",
      "imports": [
        "02_wordpress/sass/variables-site/_variables-site.scss",
        "02_wordpress/sass/mixins/_mixins-master.scss",
        "wordpress_styles.scss",
        "02_wordpress/sass/_normalize.scss",
        "02_wordpress/sass/typography/_typography.scss",
        "02_wordpress/sass/elements/_elements.scss",
        "02_wordpress/sass/forms/_forms.scss",
        "02_wordpress/sass/navigation/_navigation.scss",
        "02_wordpress/sass/modules/_accessibility.scss",
        "02_wordpress/sass/modules/_alignments.scss",
        "02_wordpress/sass/modules/_clearings.scss",
        "02_wordpress/sass/site/secondary/_widgets.scss",
        "02_wordpress/sass/site/_site.scss",
        "02_wordpress/sass/modules/_infinite-scroll.scss",
        "02_wordpress/sass/media/_media.scss",
        "02_wordpress/sass/variables-site/_colors.scss",
        "02_wordpress/sass/variables-site/_typography.scss",
        "02_wordpress/sass/variables-site/_structure.scss",
        "02_wordpress/sass/variables-site/_columns.scss",
        "common_styles.scss",
        "02_wordpress/sass/typography/_headings.scss",
        "02_wordpress/sass/typography/_copy.scss",
        "02_wordpress/sass/elements/_lists.scss",
        "02_wordpress/sass/elements/_tables.scss",
        "02_wordpress/sass/forms/_buttons.scss",
        "02_wordpress/sass/forms/_fields.scss",
        "02_wordpress/sass/navigation/_links.scss",
        "02_wordpress/sass/navigation/_menus.scss",
        "02_wordpress/sass/layout/_content-sidebar.scss",
        "02_wordpress/sass/layout/_sidebar-content.scss",
        "02_wordpress/sass/site/primary/_posts-and-pages.scss",
        "02_wordpress/sass/site/primary/_comments.scss",
        "02_wordpress/sass/media/_captions.scss",
        "02_wordpress/sass/media/_galleries.scss",
        "bourbon/_bourbon.scss",
        "neat/_neat.scss",
        "bitters/_base.scss",
        "02_wordpress/sass/layout/_no-sidebar.scss",
        "bourbon/bourbon/helpers/_buttons-list.scss",
        "bourbon/bourbon/helpers/_scales.scss",
        "bourbon/bourbon/helpers/_text-inputs-list.scss",
        "bourbon/bourbon/settings/_settings.scss",
        "bourbon/bourbon/validators/_contains.scss",
        "bourbon/bourbon/validators/_contains-falsy.scss",
        "bourbon/bourbon/validators/_is-color.scss",
        "bourbon/bourbon/validators/_is-length.scss",
        "bourbon/bourbon/validators/_is-number.scss",
        "bourbon/bourbon/validators/_is-size.scss",
        "bourbon/bourbon/utilities/_assign-inputs.scss",
        "bourbon/bourbon/utilities/_compact-shorthand.scss",
        "bourbon/bourbon/utilities/_directional-property.scss",
        "bourbon/bourbon/utilities/_fetch-bourbon-setting.scss",
        "bourbon/bourbon/utilities/_font-source-declaration.scss",
        "bourbon/bourbon/utilities/_gamma.scss",
        "bourbon/bourbon/utilities/_lightness.scss",
        "bourbon/bourbon/utilities/_contrast-ratio.scss",
        "bourbon/bourbon/utilities/_unpack-shorthand.scss",
        "bourbon/bourbon/library/_border-color.scss",
        "bourbon/bourbon/library/_border-radius.scss",
        "bourbon/bourbon/library/_border-style.scss",
        "bourbon/bourbon/library/_border-width.scss",
        "bourbon/bourbon/library/_buttons.scss",
        "bourbon/bourbon/library/_clearfix.scss",
        "bourbon/bourbon/library/_contrast-switch.scss",
        "bourbon/bourbon/library/_ellipsis.scss",
        "bourbon/bourbon/library/_font-face.scss",
        "bourbon/bourbon/library/_font-stacks.scss",
        "bourbon/bourbon/library/_hide-text.scss",
        "bourbon/bourbon/library/_hide-visually.scss",
        "bourbon/bourbon/library/_margin.scss",
        "bourbon/bourbon/library/_modular-scale.scss",
        "bourbon/bourbon/library/_overflow-wrap.scss",
        "bourbon/bourbon/library/_padding.scss",
        "bourbon/bourbon/library/_position.scss",
        "bourbon/bourbon/library/_prefixer.scss",
        "bourbon/bourbon/library/_shade.scss",
        "bourbon/bourbon/library/_size.scss",
        "bourbon/bourbon/library/_strip-unit.scss",
        "bourbon/bourbon/library/_text-inputs.scss",
        "bourbon/bourbon/library/_timing-functions.scss",
        "bourbon/bourbon/library/_tint.scss",
        "bourbon/bourbon/library/_triangle.scss",
        "bourbon/bourbon/library/_value-prefixer.scss",
        "neat/neat/settings/_settings.scss",
        "neat/neat/functions/_retrieve-neat-settings.scss",
        "neat/neat/functions/_neat-column-default.scss",
        "neat/neat/functions/_neat-column-width.scss",
        "neat/neat/functions/_neat-column-ratio.scss",
        "neat/neat/functions/_neat-float-direction.scss",
        "neat/neat/functions/_neat-merge-defaults.scss",
        "neat/neat/functions/_neat-opposite-direction.scss",
        "neat/neat/functions/_neat-parse-columns.scss",
        "neat/neat/functions/_neat-parse-media.scss",
        "neat/neat/functions/_neat-append-grid-visual.scss",
        "neat/neat/mixins/_grid-collapse.scss",
        "neat/neat/mixins/_grid-column.scss",
        "neat/neat/mixins/_grid-container.scss",
        "neat/neat/mixins/_grid-media.scss",
        "neat/neat/mixins/_grid-push.scss",
        "neat/neat/mixins/_grid-shift.scss",
        "neat/neat/mixins/_grid-visual.scss",
        "bitters/_variables.scss",
        "bitters/_buttons.scss",
        "bitters/_forms.scss",
        "bitters/_layout.scss",
        "bitters/_lists.scss",
        "bitters/_media.scss",
        "bitters/_tables.scss",
        "bitters/_typography.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/elements/_elements.scss",
      "imports": [
        "02_wordpress/sass/elements/_lists.scss",
        "02_wordpress/sass/elements/_tables.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/forms/_forms.scss",
      "imports": [
        "02_wordpress/sass/forms/_buttons.scss",
        "02_wordpress/sass/forms/_fields.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/layout/_content-sidebar.scss",
      "imports": [
        "02_wordpress/sass/layout/_no-sidebar.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/layout/_sidebar-content.scss",
      "imports": [
        "02_wordpress/sass/layout/_no-sidebar.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/media/_media.scss",
      "imports": [
        "02_wordpress/sass/media/_captions.scss",
        "02_wordpress/sass/media/_galleries.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/navigation/_navigation.scss",
      "imports": [
        "02_wordpress/sass/navigation/_links.scss",
        "02_wordpress/sass/navigation/_menus.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/site/_site.scss",
      "imports": [
        "02_wordpress/sass/layout/_content-sidebar.scss",
        "02_wordpress/sass/layout/_sidebar-content.scss",
        "02_wordpress/sass/site/primary/_posts-and-pages.scss",
        "02_wordpress/sass/site/primary/_comments.scss",
        "02_wordpress/sass/layout/_no-sidebar.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/typography/_typography.scss",
      "imports": [
        "02_wordpress/sass/typography/_headings.scss",
        "02_wordpress/sass/typography/_copy.scss"
      ]
    },
    {
      "path": "02_wordpress/sass/variables-site/_variables-site.scss",
      "imports": [
        "02_wordpress/sass/variables-site/_colors.scss",
        "02_wordpress/sass/variables-site/_typography.scss",
        "02_wordpress/sass/variables-site/_structure.scss",
        "02_wordpress/sass/variables-site/_columns.scss"
      ]
    },
    {
      "path": "05_prestashop/_dev/css/st/dev.styl",
      "imports": [
        "05_prestashop/_dev/css/st/_mixins.styl",
        "05_prestashop/_dev/css/st/_common.styl",
        "05_prestashop/_dev/css/st/_layout.styl",
        "05_prestashop/_dev/css/st/_form.styl",
        "05_prestashop/_dev/css/st/_cart.styl",
        "05_prestashop/_dev/css/st/_language-and-currency-selectors.styl",
        "05_prestashop/_dev/css/st/_user-info.styl",
        "05_prestashop/_dev/css/st/_blocktopmenu.styl",
        "05_prestashop/_dev/css/st/_categories.styl",
        "05_prestashop/_dev/css/st/_order.styl",
        "05_prestashop/_dev/css/st/_product.styl",
        "05_prestashop/_dev/css/st/_notifications.styl",
        "05_prestashop/_dev/css/st/_starter-theme.styl",
        "05_prestashop/_dev/css/st/_brand.styl",
        "05_prestashop/_dev/css/st/_my-account.styl",
        "05_prestashop/_dev/css/st/_pagination.styl",
        "05_prestashop/_dev/css/st/_facets.styl"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}